<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="dist/ngclipboard.js"></script>
    <!--[if IE]>
        <script type="text/javascript" src="examples/vendor/jszip-utils-ie.js"></script>
    <![endif]-->

    

  </head>

<body>

<div ng-app="c_ajsView" ng-controller="c_ajsCtrl"> 
  <div class="page-header">
    <h1>DocuGenie <small>tags for creating templates</small></h1>
  </div>
  <div ng-repeat="project in dataJSON.project" ng-init="projIndex = $index">


    <!-- System fields of matter -->
    <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Advanced Info</div>
          <table class="table table-hover">
              <tr>
                  <th class="col-xs-2">Field</th>
                  <th class="col-xs-4">Value</th>
                  <th class="col-xs-5">Tag</th>
                  <th class="col-xs-1">Copy Tag</th>
              </tr>
              <tr ng-repeat="(key, value) in schemaJSON.properties.systemFields.properties" ng-if="key != 'createdBy' && key != 'modifiedBy'">
                  <td class="col-xs-2">{{schemaJSON.properties.systemFields.properties[key].title}}</td>
                  <td class="col-xs-4"> {{project.systemFields[key]}} </td>
                  <td class="col-xs-5">  {{'{\{project[' + projIndex + '].systemFields.' + key + '}\}'}} </td>
                  <td class="col-xs-1"> 
                      <button class="btn" ngclipboard data-clipboard-text="{{'{\{project[' + projIndex + '].systemFields.' + key + '}\}'}}"> Copy </button>
                  </td>
              </tr>
              <tr ng-repeat="(key, value) in schemaJSON.properties.systemFields.properties.createdBy.properties">
                  <td class="col-xs-2">{{'Created by: ' + schemaJSON.properties.systemFields.properties.createdBy.properties[key].title}}</td>
                  <td class="col-xs-4"> {{project.systemFields.createdBy[key]}} </td>
                  <td class="col-xs-5">{{'{\{project[' + projIndex + '].systemFields.createdBy.' + key + '}\}'}} </td>
                  <td class="col-xs-1"><button class="btn" ngclipboard data-clipboard-text="{{'{\{project[' + projIndex + '].systemFields.createdBy.' + key + '}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button></td>
              </tr>
              <tr ng-repeat="(key, value) in schemaJSON.properties.systemFields.properties.modifiedBy.properties">
                  <td class="col-xs-2">{{'Modified by: ' + schemaJSON.properties.systemFields.properties.modifiedBy.properties[key].title}}</td>
                  <td class="col-xs-4"> {{project.systemFields.modifiedBy[key]}} </td>
                  <td class="col-xs-5">{{'{\{project[' + projIndex + '].systemFields.modifiedBy.' + key + '}\}'}}</td>
                  <td class="col-xs-1"><button class="btn" ngclipboard data-clipboard-text="{{'{\{project[' + projIndex + '].systemFields.modifiedBy.' + key + '}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button></td>
              </tr>
          </table>
        </div>
      </div>



      <!-- Categories of matter -->
      <div class="col-sm-6">
        <div class="panel-group">
             
          <div class="panel panel-default">
              
            <div class="panel-heading">Details for Project {{projIndex}}</div>
            <table class="table table-hover table-condensed">
                <tr>
                  <th class="col-xs-2">Field</th>
                  <th class="col-xs-4">Value</th>
                  <th class="col-xs-5">Tag</th>
                  <th class="col-xs-1">Copy Tag</th>
                </tr>
              </table>
              <div ng-repeat="cat in project.categories">
                <div class="panel panel-info">
                  <div class="panel-heading"><strong>{{cat.categoryName$}} </strong> {{cat.isDefault ? "--main category" : ""}}</div>
                  <table class="table table-condensed">
                    <tr ng-repeat="(key, value) in cat" ng-if="key != 'categoryName$' && key != 'category_id' && key != 'isDefault'">
                      <td class="col-xs-2">{{schemaJSON.properties.categories.properties[cat.category_id].properties[key].title}}</td>
                      <td class="col-xs-4">
                          <div ng-show="schemaJSON.properties.categories.properties[cat.category_id].properties[key].format == 'date-time'">
                            {{value|date: 'mediumDate'}}
                          </div>
                          <div ng-hide="schemaJSON.properties.categories.properties[cat.category_id].properties[key].format == 'date-time'">
                            {{value}}
                          </div>
                      </td>
                      <td class="col-xs-5">
                          {{'{\{project[' + projIndex + '].categories.' + cat.category_id + '.' + key + '}\}'}}
                      </td>
                      <td class="col-xs-1">
                        <button class="btn" ngclipboard data-clipboard-text="{{'{\{project[' + projIndex + '].categories.' + cat.category_id + '.' + key + '}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      





    <!-- List of assginees -->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Working with Assignees</div>
        <div class="panel-body">
            The following is all the information from assignees for project {{projIndex}}.
        </div>

        <div ng-repeat="assignee in project.assigneeList" ng-init="assigneeIndex = $index">
          <center>Fields of assignee with role [{{assignee.role}}]</center>
          <table class="table table-hover table-condensed">
            <tr>
                <th>Field</th>
                <th>Value</th>
                <th>Tag</th>
                <th></th>
            </tr>
            <tr ng-repeat="(key, value) in schemaJSON.properties.assigneeList.items.properties">
                <td>{{schemaJSON.properties.assigneeList.items.properties[key].title}}</td>
                <td>{{assignee[key]}}</td>
                <td>{{'{\{project[' + projIndex + '].assigneeList | role: \'' + assignee['role'] + '\': \'' + key + '\'}\}' }}</td>
                <td>
                  <button class="btn" ngclipboard data-clipboard-text="{{'{\{project[' + projIndex + '].assigneeList | role: \'' + assignee['role'] + '\': \'' + key + '\'}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button>
                </td>
            </tr>
          </table>
        </div>

        <hr>
            <center><b> Main Assignee Fields</b></center>
            <table class="table table-hover table-condensed">
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                    <th>Tag</th>
                    <th></th>
                </tr>
                <tr ng-repeat="(key, value) in schemaJSON.properties.mainAssignee.properties">
                    <td>{{schemaJSON.properties.mainAssignee.properties[key].title}}</td>
                    <td>{{project.mainAssignee[key]}}</td>
                    <td>{{'{\{project[' + projIndex + '].mainAssignee.' + key + '}\}' }}</td>
                    <td>
                      <button class="btn" ngclipboard data-clipboard-text="{{'{\{project[' + projIndex + '].mainAssignee.' + key + '}\}' }}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button>
                    </td>
                </tr>
            </table>
        
      </div>
    </div>


 <!-- List of Involvees -->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Working with Involvees</div>

        <div ng-repeat="involvee in project.involvees" ng-init="involveeIndex = $index">
           <center> Fields of involvee {{involveeIndex}}</center>
            <table class="table table-hover table-condensed">
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                    <th>Tag</th>
                    <th></th>
                </tr>
                <tr ng-repeat="(key, value) in schemaJSON.properties.involvees.items.properties" ng-if="key != 'categories'">
                    <td>{{schemaJSON.properties.involvees.items.properties[key].title}}</td>
                    <td>{{involvee[key]}}</td>
                    <td>{{'{\{project[' + projIndex + '].involvee[' + involveeIndex + '].'  + key + '}\}' }}</td>
                    <td>
                      <button class="btn" ngclipboard data-clipboard-text="{{'{\{project[' + projIndex + '].involvee[' + involveeIndex + '].'  + key + '}\}' }}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button>
                    </td>
                </tr>
            </table>

            <center>Category Fields of involvee {{involveeIndex}}</center>
            <div ng-repeat="cat in involvee.categories">
                <div class="panel panel-info">
                  <div class="panel-heading"><strong>{{cat.categoryName$}} </strong> {{cat.isDefault ? "--main category" : ""}}</div>
                  <table class="table table-condensed">
                    <tr ng-repeat="(key, value) in cat" ng-if="key != 'categoryName$' && key != 'category_id' && key != 'isDefault'">
                      <td class="col-xs-2">{{schemaJSON.properties.involvees.items.properties.categories.properties[cat.category_id].properties[key].title}}</td>
                      <td class="col-xs-4">
                          <div ng-show="schemaJSON.properties.involvees.items.properties.categories.properties[cat.category_id].properties[key].format == 'date-time'">
                            {{value|date: 'mediumDate'}}
                          </div>
                          <div ng-hide="schemaJSON.properties.involvees.items.properties.categories.properties[cat.category_id].properties[key].format == 'date-time'">
                            {{value}}
                          </div>
                      </td>
                      <td class="col-xs-5">
                          {{'{\{project[' + projIndex + '].involvees[' + involveeIndex +'].'  + cat.category_id + '.' + key + '}\}'}}
                      </td>
                      <td class="col-xs-1">
                        <button class="btn" ngclipboard data-clipboard-text="{{'{\{project[' + projIndex + '].involvees[' + involveeIndex +'].'  + cat.category_id + '.' + key + '}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
        </div>


      </div>
    </div>



  </div> <!-- END of Project ng-repeat -->

<div><!-- START of Agreement -->
</div><!-- END of Agreement -->


<div class="col-sm-6"> <!-- Client and Vendor -->
  <div class="panel panel-default">
      <div class="panel-heading">Client</div>
      <table class="table table-hover table-condensed">
          <tr>
            <th class="col-xs-2">Field</th>
            <th class="col-xs-4">Value</th>
            <th class="col-xs-5">Tag</th>
            <th class="col-xs-1">Copy Tag</th>
          </tr>
        </table>
        <table class="table table-hover table-condensed">
            <tr ng-repeat="(key, value) in dataJSON.client" ng-if="clientSchema[key].type != 'object' && clientSchema[key].type != 'array' ">
              <td class="col-xs-2">{{key}}</td>
              <td class="col-xs-4">{{value}}</td>
              <td class="col-xs-5">{{'{\{client.'+ key + '}\}'}}</td>
              <td class="col-xs-1">
                  <button class="btn" ngclipboard data-clipboard-text="{{'{\{client.'+ key + '}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button>
              </td>
            </tr>
            <tr ng-repeat="(key, value) in dataJSON.client" ng-if="clientSchema[key].type == 'object' || clientSchema[key].type == 'array'">
                <td class="col-xs-2">{{'Company: ' +key}}</td>
                <td class="col-xs-4">{{value}}</td>
                <td class="col-xs-5">{{'{\{client.company.'+ key + '}\}'}}</td>
                <td class="col-xs-1">
                    <button class="btn" ngclipboard data-clipboard-text="{{'{\{client.company.'+ key + '}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button>
                </td>
            </tr>
          </table>

      <div class="panel-heading">Vendor</div>
      <table class="table table-hover table-condensed">
          <tr>
            <th class="col-xs-2">Field</th>
            <th class="col-xs-4">Value</th>
            <th class="col-xs-5">Tag</th>
            <th class="col-xs-1">Copy Tag</th>
          </tr>
        </table>
        <table class="table table-hover table-condensed">
            <tr ng-repeat="(key, value) in dataJSON.vendor" ng-if="key != 'company'">
              <td class="col-xs-2">{{key}}</td>
              <td class="col-xs-4">{{value}}</td>
              <td class="col-xs-5">{{'{\{vendor.'+ key + '}\}'}}</td>
              <td class="col-xs-1">
                  <button class="btn" ngclipboard data-clipboard-text="{{'{\{vendor.'+ key + '}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button>
              </td>
            </tr>
            <tr ng-repeat="(key, value) in dataJSON.vendor.company">
                <td class="col-xs-2">{{'Company: ' + key}}</td>
                <td class="col-xs-4">{{value}}</td>
                <td class="col-xs-5">{{'{\{vendor.company.'+ key + '}\}'}}</td>
                <td class="col-xs-1">
                    <button class="btn" ngclipboard data-clipboard-text="{{'{\{vendor.company.'+ key + '}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button>
                </td>
            </tr>
          </table>

  </div>
</div>

<div><!-- START of Request -->
  <div class="col-sm-6"> <!--Request -->
    <div class="panel panel-default">
        <div class="panel-heading">Request</div>
        <table class="table table-hover table-condensed">
            <tr>
              <th class="col-xs-2">Field</th>
              <th class="col-xs-4">Value</th>
              <th class="col-xs-5">Tag</th>
              <th class="col-xs-1">Copy Tag</th>
            </tr>
          </table>
          <table class="table table-hover table-condensed">
              <tr ng-repeat="(key, value) in dataJSON.request" ng-if="key != 'project' && key != 'recipients' && key != 'MainAssignee' && key != 'createdBy' && key != 'modifiedBy' ">
                <td class="col-xs-2">{{key}}</td>
                <td class="col-xs-4">{{value}}</td>
                <td class="col-xs-5">{{'{\{request.'+ key + '}\}'}}</td>
                <td class="col-xs-1">
                    <button class="btn" ngclipboard data-clipboard-text="{{'{\{request.'+ key + '}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button>
                </td>
              </tr>
          </table>
          

          <hr>
          <h4>Fields of recipients</h4>
          <div ng-repeat="recip in dataJSON.request.recipients" ng-init="recipIndex = $index">
            <center>Recipient [{{recipIndex}}]</center>
            <table class="table table-hover table-condensed">
              <tr ng-repeat="(key, value) in recip">
                  <td class="col-xs-2">{{key}}</td>
                  <td class="col-xs-4">{{value}}</td>
                  <td class="col-xs-5">{{'{\{request.recipients[' + recipIndex + '].' + key + '}\}'}}</td>
                  <td class="col-xs-1">
                      <button class="btn" ngclipboard data-clipboard-text="{{'{\{request.recipients[' + recipIndex + '].' + key + '}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button>
                  </td>
              </tr>
            </table>
          </div>
  
    </div>
  </div>
</div><!-- END of Request -->



<div><!-- START of Response  -->


</div><!-- END of Response -->



<script type="text/ng-template" id="categoryTree">
  
  <div  ng-if="mySchema.type == 'object' || mySchema.type =='array'">
    <div ng-repeat="(key, value) in cvalue">
        <div class="row " ng-if="mySchema.properties[key].type != 'object' && mySchema.properties[key].type != 'array' ">
            <div class="col-xs-2" style="word-wrap:break-word;">{{key}}</div>
            <div class="col-xs-4" style="word-wrap:break-word;">{{value}}</div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-5" style="word-wrap:break-word;">{{'{\{'+ mainKey + '.' + key + '}\}'}}</div>
            <div class="col-xs-1">
                <button class="btn" ngclipboard data-clipboard-text="{{'{\{'+ mainKey + '.' + key + '}\}'}}" ngclipboard-succes ="onSuccess(e);" ng-clipboard-error="onError(e);"> Copy </button> 
            </div>
            
        </div>
        <div ng-if="mySchema.properties[key].type == 'object'" >
          <center><br>{{mainKey + '.' + key}} </center>
           
          <div ng-include="'categoryTree'" ng-init="cvalue = value;ckey = key; mySchema = mySchema.properties[key]; mainKey = mainKey + '.' + key">
          </div>
        </div>

        <div ng-if="mySchema.properties[key].type == 'array'" >
            <center><br>{{mainKey + '.' + key}} -- </center>
            
            <div ng-repeat="(k, v) in value"> 
                <div ng-include="'categoryTree'" ng-init="cvalue = v;ckey = key; mySchema = mySchema.properties[key].items; mainKey = mainKey + '.' + key + '[' + k + ']'">
                </div>
            </div>
              
        </div>
        
    </div>
    <hr>
  </div>
</script>

<div class="col-sm-6">
  <div class="panel panel-default">
      <div class="panel-heading">Other parts</div>
      <div ng-repeat="(ckey, cvalue) in dataJSON" ng-init="mainKey = ckey; mySchema = schema[ckey]" ng-if="ckey != 'project'" >
        <center><h2> {{ckey}} </h2></center>
        <div class="container-fluid" ng-include="'categoryTree'">
        </div>
      </div>
  </div>
</div>




<!-- END of myApp -->   
</div>



<!-- Script for populating page with json data -->
<script src="bundle.js"></script>
</body>
</html>